@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto+Slab:700|Roboto:400,500,700|Montserrat:400,500,600,700,800&subset=latin-ext");
$momentum-lila-dark: #8E6FCE;
$momentum-lila-light: #d9ceee;
$momentum-lila-superlight: #f4e1fc;

$light-gray: #eee;


html, body {
  background-color: $light-gray;
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase; }

h3 {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 40px; }

h4 {
  font-size: 18px;
  font-weight: 500;
  color: gray }

p, ul, ol, li {
  text-align: center;
  font-family: "Montserrat", sans-serif; }

hr {
  border: 1px solid  $momentum-lila-dark;
}

a {
  text-decoration: none;
  color: $momentum-lila-dark;
  font-weight: 700;
  &:hover {
    color: $momentum-lila-light;
    text-decoration: none; }
}

ul {
  list-style-type: square;
}

label {
  font-weight: normal;
  margin-left: "300px";
  padding: "50px";
  color: red;
}

#header {
    padding-top: 0px;
    margin-top: 0px;
    color: white;
    font-size: 18px;
    line-height: 28px;
    h1 {
        color: white;
        font-size: 42px;
    }
    img {
        width: 100%;
        height: 100%;
    }
}

.panel-heading {
  background: white;
  color: $momentum-lila-dark;
  font-weight: bold;
  &:hover {
    color: $momentum-lila-light;
    cursor: pointer;
  }
}
.panel-details {
  background: #f0f0f0; }

.indent {
  margin-left: "100px";
}

.navbar {
  margin-bottom: 0;
}
.nav-link {
  color: $momentum-lila-dark !important;
  font-weight: bold;
  &:hover {
    color: $momentum-lila-light !important;
  }}

.navbar-brand {
  color: $momentum-lila-dark !important;
  font-weight: 400;
}

.main-info-container {
  background-color: white;
  padding: 30px !important;
  margin-bottom: 0 !important;
  text-align: left;

  p {
    text-align: justify !important;
  }
}

.text-center {
  text-align: center;
}

#checklist {
  text-align: left;
}

#footer-actions {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #262626;
  color: white;
  font-size: 16px;
  font-weight: normal; }
  #footer-actions .container {
    padding: 0;
    margin: 0 auto; }
    #footer-actions .container div {
      padding: 0; }
  #footer-actions h1 {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px; }
  #footer-actions p {
    margin-bottom: 20px; }
  #footer-actions .button {
    display: block;
    background-color: #8E6FCE !important;
    color: white;
    width: 190px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    margin: auto; }
    #footer-actions .button:hover {
      background-color: #ac95db; }

#footer {
  background-color: #262626;
  color: white;
  padding: 10px 10px;
  font-size: 16px;
  box-shadow: none;
  border-top: solid 1px #3c3c3c; }
  #footer a:link, #footer a:hover, #footer a:active, #footer a:visited {
    color: white;
    font-weight: 400;
    text-decoration: none; }
